<div class="updateAvatar fileinput-button edit-overlay">
  <%= f.file_field :avatar %>
  <label><i class="fa fa-pencil"></i> Change...</label>
  <!-- The file input field used as target for the file upload widget -->
  <input id="fileupload" type="file" name="avatar">
</div>